In [1]:
import pandas as pd
import numpy as np

In [2]:
dataf = pd.DataFrame({
    "city":["kichha","kichha","Haldwani","Rudrapur","Haldwani"],
    "rolls":[1,2,1,1,3]
})
dataf

       city  rolls
0    kichha      1
1    kichha      2
2  Haldwani      1
3  Rudrapur      1
4  Haldwani      3

In [3]:
x = dataf.iloc[:,0].values.reshape(-1,1)
x

array([['kichha'],
       ['kichha'],
       ['Haldwani'],
       ['Rudrapur'],
       ['Haldwani']], dtype=object)

In [8]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers= [('encoder', OneHotEncoder(),[0])], remainder = 'passthrough')

X = np.array(ct.fit_transform(x))
X

array([[0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

dataf = pd.DataFrame({
    "city": ["kichha", "kichha", "Haldwani", "Rudrapur", "Haldwani"],
    "rolls": [1, 2, 1, 1, 3]
})

# Extracting the 'city' column as numpy array
x = dataf.iloc[:, 0].values.reshape(-1, 1)

# Initializing the ColumnTransformer
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')

# Fitting and transforming the data
x_encoded = ct.fit_transform(x)

# Converting the result to array
x_encoded = np.array(x_encoded)

print(x_encoded)